.animationWrap {
  animation: fadeOut 1s forwards;
}

.todo-row {
  width: 100%;
  background: #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 15px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  overflow-wrap: anywhere;
  transition: all 0.5s;
}

.todo-button {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}

.todo-button-edit {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.3 !important;
}

.todo-edit {
  animation: fadeOut 1s forwards;
}

.todo-edit input {
  padding: 16px 20px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #000;
  background: transparent;
  outline: none;
  width: 85%;
  color: #000;
  margin-bottom: 15px;
}

.todo-edit input::placeholder {
  color: #000;
}

.todo-edit button {
  width: 15%;
  padding: 16px 0;
  border-radius: 0 4px 4px 0;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: #000;
  white-space: nowrap;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
